<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<h1>This is where you choose the search parameters</h1>

<h2> TEST CHARTS FROM CHARTKICK </h2>
<div>
	<h5>All job postings in Canada </h5>
<%= pie_chart JobPosting.group(:keyword).count %> 
</div>
<div>
	<h5>Sum of job postings, Canada</h5>
<%= bar_chart JobPosting.group(:keyword).count %>
</div>